.welcome-image{
  position: relative;
  flex: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 700px;
}

.welcome-image .image-box{
  position: absolute;
  padding: 10px;
  background-image: url(./images/card13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  overflow: hidden;
  background-position: center center;
  transition: .5s all ease-in-out;
}

.welcome-image .image-box:nth-child(1){
  background-image: url(./images/card13.jpg);
}

.welcome-image .image-box:nth-child(2){
  background-image: url(./images/card9.jpg);
}

.welcome-image .image-box:nth-child(3){
  background-image: url(./images/card12.jpg);
}

.welcome-image .image-box:nth-child(4){
  background-image: url(./images/photoQuery6.jpg);
}

.welcome-image .image-box.current{
  position: relative;
  height: 600px;
  width: 100%;
  opacity: 1;
  transition: .5s all ease-in-out;
}

.slider{
  position: relative;
  top: -50px;
  margin-top: 10px;
  display: flex;
  flex: 100px;
  opacity: 0;
  transition: .5s all ease-in-out;
}

.welcome-image:hover .slider{
  opacity: 1;
  top: 0;
  transition: .5s all ease-in-out;
}



.slide{
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slide.current{
  background-color: black;
}

.left-button{
  position: absolute;
  top: 40%;
  left: 0%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.521);
  opacity: 0;
  transition: .5s all ease-in-out;
}

.right-button{
  position: absolute;
  top: 40%;
  right: 0%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.521);
  cursor: pointer;
  transition: .5s all ease-in-out;
}

.welcome-image:hover .right-button{
  opacity: 1;
  right: 5%;
  transition: .5s all ease-in-out;
}

.welcome-image:hover .left-button{
  opacity: 1;
  left: 5%;
  transition: .5s all ease-in-out;
}

.left-button:hover, .right-button:hover{
  background-color: white;
  transition: all ease-in-out .5s;
}

