.profile-title .fake-box
{
  margin: 15px 0;
  display: inline-block;
  width: 150px;
  border-bottom: #101010 2px solid;
}

.profile-title h2{
  width: 400px;
  font-size: 30px;
  padding: 0 20px;
  margin: 10px 0;
}

.profile-title{
  margin-bottom: 30px;
}