* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.6 monospace;
}

a {
  color: black;
  text-decoration: none;
}

.pd-10 {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-15-0 {
  padding: 15px 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
